@model Asp.Models.usuariorol

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles Usuario</h2>

<div>
    <h4>Rol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Descripción
        </dt>

        <dd>
            @Asp.Controllers.UsuarioRolController.NombreRol(Model.idRol)
        </dd>

        <dt>
            Nombre
        </dt>

        <dd>
            @Asp.Controllers.UsuarioRolController.NombreUsuario(Model.idUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar a Lista", "Index")
</p>
