
@{
    ViewBag.Title = "Biografia";
}

<h2>Biografia</h2>

<p>
    Talkative, short tempered and uncompromising, 
    she initially appears questioning Kūgo Ginjō 
    about his progress in recruiting Ichigo Kurosaki. 
    She later aids Ichigo in his efforts to gain 
    Fullbring by using her Dollhouse ability to 
    miniaturize him and have him fight other shrunken 
    opponents. After Kūgo steals Ichigo's Fullbring 
    and gives its power to Riruka, she takes on Rukia 
    Kuchiki and uses her enhanced powers to gain the 
    upper hand against the Shinigami lieutenant.
</p>