@{
    ViewBag.Title = "Contact";
    Layout = "~/View/Shared/Plantilla.cshtml";
}

@section textoParrafo{
    hola buen dia
    }

@{ 
    var numero = 123;
    string nombre = "nombre";
}

<p>@numero</p>
<p>@nombre</p>
<br />
@if (numero > 100)
{
    <h3>numero mayor</h3>
} else 
{
    <h3>numero menor</h3>
}