@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cliente</h2>
        <p>
            Podra registrar nuevo cliente, mirar detalles, editar información y eliminar clientes.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44331/Cliente/Index">Index Cliente &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Proveedor</h2>
        <p>Podra registrar nuevo proveedor, mirar detalles, editar información y eliminar proveedores.</p>
        <p><a class="btn btn-default" href="https://localhost:44331/Proveedor/Index">Index Proveedor &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Usuario</h2>
        <p>Podra registrar nuevo usuario, mirar detalles, editar información y eliminar usuarios.</p>
        <p><a class="btn btn-default" href="https://localhost:44331/Usuario/Index">Index Usuario &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Roles</h2>
        <p>Podra registrar nuevos roles mirar detalles, editar información y eliminar roles.</p>
        <p><a class="btn btn-default" href="https://localhost:44331/Roles/Index">Index roles &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Producto</h2>
        <p>Podra registrar nuevos productos, mirar detalles, editar información y eliminar productos.</p>
        <p><a class="btn btn-default" href="https://localhost:44331/Producto/Index">Index Producto &raquo;</a></p>
    </div>
</div>