
@{
    ViewBag.Title = "Subir CSV";
}

<h2>Subir CSV Producto</h2>
@using (Html.BeginForm("Cargar", "Producto", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label class="control-label col-md-2">Cargar</label>
        <div class="col-md-10">
            <input type="file" name="uplFile" class="file-btn" required />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <br />
            <input class="btn btn-default" type="submit" value="Subir" />
        </div>
    </div>
    <div>@Html.ActionLink("Regresar a Lista", "PagIndex")</div>
}

